@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" );
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;

}
nav{
    display:flex;
    justify-content: space-between;
    height:80px;
    background-color: aqua;
    padding:7px 50px;
}
nav h2,i{
    padding-top: 22px;
}
.heading{
    text-align: center;
    margin-top:35px;
}
.item{
    width:500px;
    border: 2px solid brown;
    margin: 4px 4px;
    text-align:center;

}
.item img{
    position:relative;
    left:27px;
}
section{
    display: flex;
    flex-wrap:wrap;
    margin-left:140px;
}